@import "./../asset/bootstrap-5.1.3/scss/functions";
@import "./../asset/bootstrap-5.1.3/scss/variables";
@import "./../asset/bootstrap-5.1.3/scss/utilities";
    
  
@font-face {
    font-family: "Rubik";
    src:
        url("../../asset/font/rubik/Rubik-Regular.ttf") format("ttf"),
        url("../../asset/font/rubik/Rubik-Regular.woff") format("woff"),
    url("../../asset/font/rubik/Rubik-Regular.woff2") format("woff2"),
}
  

$font-family-base: "Rubik" !default;


$theme-colors: (
    "primary": #0d6efd,
    "secondary": #6c757d,
    "success": #70dfab,
    "info": #8ee6f8,
    "warning": #ffc107,
    "danger": #dc3545,
    "light": #f8f9fa,
    "dark": #212529,
  
    // Primary
    "moderate-blue":hsl(238, 40%, 52%),
    "soft-red":hsl(358, 79%, 66%),
    "light-grayish-blue":hsl(239, 57%, 85%),
    "pale-red":hsl(357, 100%, 86%),


    // Neutral
    "dark-blue":hsl(212, 24%, 26%),
    "grayish-blue":hsl(211, 10%, 45%),
    "light-gray":hsl(223, 19%, 93%),
    "very-light-gray":hsl(228, 33%, 97%),
    "white":hsl(0, 0%, 100%),
);
   
      
$grid-breakpoints: (
    xs: 0,
    sm: 500px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);
    
$utilities: map-merge(
    $utilities,
    (
        "width": map-merge(
            map-get($utilities, "width"),
            (
                values: map-merge(
                    map-get(map-get($utilities, "width"), "values"),
                    (10: 10%, 30: 30%, 40: 40%, 60: 60%),
                ),
            ),
        ),
    )
);

$moderate-blue: hsl(238, 40%, 52%);  
$border-color: $moderate-blue; 
$font-size-base: 1rem;
$h6-font-size: $font-size-base * 0.7;

@each $color, $value in $theme-colors {
    .bg-#{$color}{
        background-color: $value !important;
    }

    .text-#{$color}{
        color: $value !important;
    }

    // .border-#{$color}{
    //     border-color: $value !important;
    // }

}

// .border-moderate-blue {
//     border-color: #5457b6 !important;
// }


@mixin m1 {
    border: 2px solid;
}



.border-moderate-blue{
    border: 2px solid #5457b6 !important;
}




.btn-white:hover {
    color: #000;
    background-color: #edeff3 !important;
    border-color: #e8ecf5 !important;
}

.btn-very-light-gray:hover {
    color: #000;
    background-color: #f0f0f3 !important;
    border-color: #eaeaee !important;
}

.btn-soft-red {
    color: #fff !important;
}

 

  @import "./../asset/bootstrap-5.1.3/scss/bootstrap.scss";